<div class="footer">

  <p>Made with <i class="fa fa-heart fa-fw fa-lg"></i> by Basem Serag</p>
  <ul class="list-unstyled d-flex">

    <li><a href="https://www.facebook.com/Bas3mS3rag/ " target="_blank"><i
          class="fab fa-facebook fa-fw rounded"></i></a></li>
    <li><a href="https://www.twitter.com/basem.serag" target="_blank"><i class="fab fa-twitter fa-fw rounded"></i></a>
    </li>
    <li><a href="https://github.com/Basem-Serag" target="_blank"><i class="fab fa-github fa-fw rounded"></i></a></li>
    <li><a href="https://www.linkedin.com/in/basem-serag-0932001b2/" target="_blank"><i
          class="fab fa-linkedin fa-fw rounded"></i></a></li>
  </ul>
</div>
